.sidebar {
    height: 120vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #191fcc;
    padding-top: 20px;
    border-radius: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }
  