<router-outlet></router-outlet>


<div class="sidebar">
    <ul>
      <li><a routerLink="">Healthcare Admin</a></li>
      <br />
      <li><a routerLink="/addProducts"><i class="bi bi-plus-square-fill">add product</i></a></li>
      <li><a routerLink="/addCategory"><i class="bi bi-plus-square-fill">add category</i></a></li>
      <li><a routerLink="/addBrand"><i class="bi bi-plus-square-fill">add brand</i></a></li>
      <li><a routerLink="/categoryIndex"><i class="">view categories</i></a></li>
      <li><a routerLink="/brandIndex"><i class="">view brands</i></a></li>
      <li><a routerLink="/productIndex"><i class="">view products</i></a></li>
      
      
      <br />
      <br />
      <li><a routerLink="/adminLogin">Logout</a></li>
    </ul>
  </div>
  